<dps-page-header
  [title]="'NEWCOMERS.EMPLOYEES_TO_VALIDATE' | translate"
  [subtitle]="(company$ | async)?.name"
>
  @if (isMobileScreen()) {
    <p-overlaybadge styleClass="mt-2 mr-2" class="ml-auto" [badgeDisabled]="!companyActualsCount()">
      <p-button
        icon="dps-icon dps-icon-menu"
        text
        plain
        rounded
        class="z-1"
        (click)="showSidenav()"
      ></p-button>
    </p-overlaybadge>
  }
</dps-page-header>

<main class="flex flex-column flex-1 p-3">
  <p-table
    scrollable
    [value]="(newcomers$ | async)?.content || []"
    [loading]="isLoading()"
    scrollHeight="flex"
    class="overflow-auto"
    [size]="isMobileScreen() ? 'small' : 'large'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-5">{{ 'NEWCOMERS.FIRST_NAME' | translate }}</th>
        <th class="w-5">{{ 'NEWCOMERS.LAST_NAME' | translate }}</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td class="text-right">
          <p-button
            [text]="true"
            [label]="'NEWCOMERS.SEE_PROFILE' | translate"
            [routerLink]="[employee.id, companyNewcomersRouteEnum.PROFILE]"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  @if (newcomers$ | async; as newcomers) {
    <p-paginator
      [first]="newcomers.number * newcomers.size"
      [rows]="newcomers.size"
      [totalRecords]="newcomers.totalElements"
      showCurrentPageReport
      [showPageLinks]="!isMobileScreen()"
      [currentPageReportTemplate]="'NEWCOMERS.PAGINATION_REPORT_TEMPLATE' | translate"
      (onPageChange)="pageControl.setValue($event.page || 0)"
    ></p-paginator>
  }
</main>
