<form
  autocomplete="on"
  class="flex flex-column flex-1 gap-3 p-5 sm:align-self-center w-full max-w-30rem justify-content-center"
  [formGroup]="form"
  (ngSubmit)="resetPassword()"
>
  <img src="assets/images/logo.svg" alt="logo" class="align-self-center w-15rem mb-8" />

  <span class="text-center">{{ 'RESET_PASSWORD_PAGE.TITLE' | translate }}</span>

  <input
    type="text"
    pInputText
    pSize="large"
    inputId="confirmationCode"
    name="confirmationCode"
    autocomplete="one-time-code"
    formControlName="confirmationCode"
    [placeholder]="'RESET_PASSWORD_PAGE.CODE_LABEL' | translate"
  />

  <p-password
    inputId="newPassword"
    name="newPassword"
    autocomplete="new-password"
    styleClass="w-full"
    size="large"
    inputStyleClass="w-full"
    [placeholder]="'RESET_PASSWORD_PAGE.NEW_PASSWORD_LABEL' | translate"
    [toggleMask]="true"
    formControlName="password"
  >
    <ng-template pTemplate="content">
      @if (isPasswordInvalid) {
        <ul class="flex flex-column gap-2 list-none p-2 m-0 password-requirements-list">
          <li
            class="flex align-items-center gap-1"
            [ngClass]="{
              'has-error text-red-500': form.hasError(
                newPasswordFormValidationErrorsEnum.HAS_NUMBER
              ),
            }"
          >
            <span class="dps-icon dps-icon-check"></span>
            <span>{{ 'SET_PASSWORD.PASSWORD_REQUIREMENTS.HAS_NUMBER' | translate }}</span>
          </li>
          <li
            class="flex align-items-center gap-1"
            [ngClass]="{
              'has-error text-red-500': form.hasError(
                newPasswordFormValidationErrorsEnum.HAS_SPECIAL_CHAR
              ),
            }"
          >
            <span class="dps-icon dps-icon-check"></span>

            <span>{{
              'SET_PASSWORD.PASSWORD_REQUIREMENTS.HAS_SPECIAL_CHARACTER' | translate
            }}</span>
          </li>
          <li
            class="flex align-items-center gap-1"
            [ngClass]="{
              'has-error text-red-500': form.hasError(
                newPasswordFormValidationErrorsEnum.HAS_UPPERCASE_LETTER
              ),
            }"
          >
            <span class="dps-icon dps-icon-check"></span>

            <span>{{ 'SET_PASSWORD.PASSWORD_REQUIREMENTS.HAS_UPPERCASE_LETTER' | translate }}</span>
          </li>
          <li
            class="flex align-items-center gap-1"
            [ngClass]="{
              'has-error text-red-500': form.hasError(
                newPasswordFormValidationErrorsEnum.HAS_LOWERCASE_LETTER
              ),
            }"
          >
            <span class="dps-icon dps-icon-check"></span>

            <span>{{ 'SET_PASSWORD.PASSWORD_REQUIREMENTS.HAS_LOWERCASE_LETTER' | translate }}</span>
          </li>
          <li
            class="flex align-items-center gap-1"
            [ngClass]="{
              'has-error text-red-500': form.hasError(
                newPasswordFormValidationErrorsEnum.HAS_MIN_LENGTH
              ),
            }"
          >
            <span class="dps-icon dps-icon-check"></span>
            <span>
              {{
                'SET_PASSWORD.PASSWORD_REQUIREMENTS.HAS_MIN_LENGTH'
                  | translate: { minLength: newPasswordMinLength }
              }}
            </span>
          </li>
        </ul>
      }
    </ng-template>
  </p-password>

  <p-password
    autocomplete="new-password"
    styleClass="w-full"
    inputStyleClass="w-full"
    size="large"
    [placeholder]="'RESET_PASSWORD_PAGE.REPEAT_PASSWORD_LABEL' | translate"
    [toggleMask]="true"
    formControlName="repeatPassword"
  >
    <ng-template pTemplate="content">
      @if (isRepeatPasswordInvalid) {
        <ul class="flex flex-column gap-2 list-none p-2 m-0 password-requirements-list">
          <li
            class="flex align-items-center gap-1"
            [ngClass]="{
              'has-error text-red-500': isRepeatPasswordInvalid,
            }"
          >
            <span class="dps-icon dps-icon-check"></span>
            <span>{{ 'SET_PASSWORD.PASSWORD_REQUIREMENTS.PASSWORDS_MATCH' | translate }}</span>
          </li>
        </ul>
      }
    </ng-template>
  </p-password>

  <p-button
    type="submit"
    styleClass="w-full"
    size="large"
    [label]="'RESET_PASSWORD_PAGE.SUBMIT_BUTTON' | translate"
    [disabled]="form.invalid"
    [loading]="isResettingPassword$ | async"
  ></p-button>
</form>

<dps-legal-info-footer></dps-legal-info-footer>

<p-toast>
  <ng-template #message>
    <span class="align-self-center flex-1">
      {{ 'RESET_PASSWORD_PAGE.PASSWORD_SUCCESSFULLY_CHANGED' | translate }}
    </span>
  </ng-template>
</p-toast>
