<dps-page-header [title]="title$ | async">
  <div class="flex justify-content-end align-items-center h-full gap-3">
    <p-button
      class="lg:hidden"
      [rounded]="true"
      [outlined]="true"
      [plain]="true"
      icon="dps-icon dps-icon-close"
      (onClick)="confirmCancel()"
    ></p-button>

    <p-button
      class="hidden lg:inline-block mr-3"
      [plain]="true"
      [outlined]="true"
      [label]="'EMPLOYEE_REGISTRATION.CANCEL_BUTTON' | translate"
      (onClick)="confirmCancel()"
    ></p-button>
  </div>
</dps-page-header>

@if (isSuccessfulRegistration$ | async) {
  <section class="flex flex-column flex-1 justify-content-center align-items-center p-3">
    <div class="flex flex-column text-center gap-3">
      <span
        class="dps-icon dps-icon-check text-5xl text-white dps-bg-color-primary border-circle p-3 align-self-center"
      ></span>
      <div class="flex flex-column">
        <h3 class="mt-0">
          {{ 'EMPLOYEE_REGISTRATION.REGISTRATION_IS_COMPLETE' | translate }}
        </h3>
        <span>{{ 'EMPLOYEE_REGISTRATION.WE_WILL_PREPARE_EVERYTHING' | translate }}</span>
      </div>
    </div>

    <span class="mt-8">{{ 'EMPLOYEE_REGISTRATION.YOU_CAN_CLOSE_PAGE' | translate }}</span>
  </section>
} @else if (isLoadingEmployee$ | async) {
  <div class="flex justify-content-center align-items-center flex-1">
    <p-progressSpinner></p-progressSpinner>
  </div>
} @else {
  <main class="flex-1 p-3 overflow-auto mb-8">
    <p-stepper [linear]="true" [value]="1">
      @if (isMobileScreen) {
        <p-step-item [value]="1">
          <p-step>{{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.GENERAL' | translate }}</p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <ng-container
                [ngTemplateOutlet]="generalStepFormTemplate"
                [ngTemplateOutletContext]="{ activateCallback }"
              ></ng-container>
            </ng-template>
          </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
          <p-step>{{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.CONTACT' | translate }}</p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <ng-container
                [ngTemplateOutlet]="contactStepFormTemplate"
                [ngTemplateOutletContext]="{ activateCallback }"
              ></ng-container>
            </ng-template>
          </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
          <p-step>{{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.PAYMENT' | translate }}</p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <ng-container
                [ngTemplateOutlet]="paymentStepFormTemplate"
                [ngTemplateOutletContext]="{ activateCallback }"
              ></ng-container>
            </ng-template>
          </p-step-panel>
        </p-step-item>

        @if (!employeeData?.newcomerInfo?.verified) {
          <p-step-item [value]="4">
            <p-step>{{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.DOCUMENTS' | translate }}</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <ng-container
                  [ngTemplateOutlet]="documentsStepFormTemplate"
                  [ngTemplateOutletContext]="{ activateCallback }"
                ></ng-container>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        }
      } @else {
        <p-step-list>
          <p-step [value]="1">{{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.GENERAL' | translate }}</p-step>
          <p-step [value]="2">{{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.CONTACT' | translate }}</p-step>
          <p-step [value]="3">
            {{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.PAYMENT' | translate }}
          </p-step>

          @if (!employeeData?.newcomerInfo?.verified) {
            <p-step [value]="4">
              {{ 'EMPLOYEE_REGISTRATION.STEP_LABELS.DOCUMENTS' | translate }}
            </p-step>
          }
        </p-step-list>

        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <ng-container
                [ngTemplateOutlet]="generalStepFormTemplate"
                [ngTemplateOutletContext]="{ activateCallback }"
              ></ng-container>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <ng-container
                [ngTemplateOutlet]="contactStepFormTemplate"
                [ngTemplateOutletContext]="{ activateCallback }"
              ></ng-container>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <ng-container
                [ngTemplateOutlet]="paymentStepFormTemplate"
                [ngTemplateOutletContext]="{ activateCallback }"
              ></ng-container>
            </ng-template>
          </p-step-panel>

          @if (!employeeData?.newcomerInfo?.verified) {
            <p-step-panel [value]="4">
              <ng-template #content let-activateCallback="activateCallback">
                <ng-container
                  [ngTemplateOutlet]="documentsStepFormTemplate"
                  [ngTemplateOutletContext]="{ activateCallback }"
                ></ng-container>
              </ng-template>
            </p-step-panel>
          }
        </p-step-panels>
      }
    </p-stepper>
  </main>
}

<ng-template #generalStepFormTemplate let-activateCallback="activateCallback">
  <div class="grid">
    <div class="col-12 sm:col-5 flex flex-column gap-3">
      <div class="flex flex-column">
        <label class="mb-1" for="ssn">
          {{ 'EMPLOYEE_PROFILE.SSN' | translate }}
        </label>
        <p-inputMask
          [formControl]="generalStepForm.controls.socialSecurityNumber"
          [mask]="ssnMask"
          inputId="ssn"
          styleClass="w-full"
        ></p-inputMask>
        <dps-field-validation-errors [control]="generalStepForm.controls.socialSecurityNumber">
          @if (generalStepForm.controls.socialSecurityNumber.hasError(ssnInvalidError)) {
            <small class="text-red-500">{{ 'VALIDATION_ERRORS.SSN_INVALID' | translate }}</small>
          }
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="firstName">
          {{ 'EMPLOYEE_PROFILE.FIRST_NAME' | translate }}
        </label>
        <input
          pInputText
          id="firstName"
          [formControl]="generalStepForm.controls.firstName"
          class="w-full"
        />
        <dps-field-validation-errors [control]="generalStepForm.controls.firstName">
          @if (generalStepForm.controls.firstName.hasError(nameInvalidError)) {
            <small class="text-red-500">
              {{ 'VALIDATION_ERRORS.INVALID_FIELD' | translate }}
            </small>
          }
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="lastName">
          {{ 'EMPLOYEE_PROFILE.LAST_NAME' | translate }}
        </label>
        <input
          pInputText
          id="lastName"
          [formControl]="generalStepForm.controls.lastName"
          class="w-full"
        />
        <dps-field-validation-errors [control]="generalStepForm.controls.lastName">
          @if (generalStepForm.controls.lastName.hasError(nameInvalidError)) {
            <small class="text-red-500">
              {{ 'VALIDATION_ERRORS.INVALID_FIELD' | translate }}
            </small>
          }
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="gender">
          {{ 'EMPLOYEE_PROFILE.GENDER' | translate }}
        </label>
        <p-select
          [options]="(genders$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [optionValue]="dictionaryItemOptionValue"
          [formControl]="generalStepForm.controls.gender"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="gender"
          styleClass="w-full"
        ></p-select>
        <dps-field-validation-errors [control]="generalStepForm.controls.gender">
        </dps-field-validation-errors>
        @if (generalStepForm.hasError(genderInvalidError)) {
          <small class="text-red-500">
            {{ 'VALIDATION_ERRORS.GENDER_DOES_NOT_MATCH_SSN' | translate }}
          </small>
        }
      </div>
    </div>

    <div class="col-12 sm:col-5 sm:col-offset-1 flex flex-column gap-3">
      <div class="flex flex-column">
        <label class="mb-1" for="birthDate">
          {{ 'EMPLOYEE_PROFILE.BIRTH_DATE' | translate }}
        </label>
        <p-datepicker
          inputId="birthDate"
          styleClass="w-full"
          [showIcon]="true"
          [formControl]="generalStepForm.controls.dateOfBirth"
          [touchUI]="isMobileScreen"
        ></p-datepicker>
        <dps-field-validation-errors [control]="generalStepForm.controls.dateOfBirth">
        </dps-field-validation-errors>
        @if (generalStepForm.hasError(birthDateInvalidError)) {
          <small class="text-red-500">
            {{ 'VALIDATION_ERRORS.BIRTH_DATE_DOES_NOT_MATCH_SSN' | translate }}
          </small>
        }
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="birthPlace">
          {{ 'EMPLOYEE_PROFILE.BIRTH_PLACE' | translate }}
        </label>
        <input
          pInputText
          id="birthPlace"
          class="w-full"
          [formControl]="generalStepForm.controls.placeOfBirth"
        />
        <dps-field-validation-errors [control]="generalStepForm.controls.placeOfBirth">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="birthCountry">
          {{ 'EMPLOYEE_PROFILE.BIRTH_COUNTRY' | translate }}
        </label>
        <p-select
          [options]="(countries$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [formControl]="generalStepForm.controls.countryOfBirth"
          [filter]="true"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="birthCountry"
          styleClass="w-full"
        ></p-select>
        <dps-field-validation-errors [control]="generalStepForm.controls.countryOfBirth">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="nationality">
          {{ 'EMPLOYEE_PROFILE.NATIONALITY' | translate }}
        </label>
        <p-select
          [options]="(countries$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [formControl]="generalStepForm.controls.countryOfOrigin"
          [filter]="true"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="nationality"
          styleClass="w-full"
        ></p-select>
        <dps-field-validation-errors [control]="generalStepForm.controls.countryOfOrigin">
        </dps-field-validation-errors>
      </div>
    </div>
  </div>

  <div
    class="flex justify-content-end p-3 absolute left-0 right-0 bottom-0 z-1 border-1 border-300 surface-0"
  >
    <p-button
      [label]="'EMPLOYEE_REGISTRATION.NEXT_STEP_BUTTON' | translate"
      icon="dps-icon dps-icon-arrow_back rotate-180"
      iconPos="right"
      [disabled]="generalStepForm.invalid"
      (onClick)="activateCallback(2)"
    />
  </div>
</ng-template>

<ng-template #contactStepFormTemplate let-activateCallback="activateCallback">
  <div class="grid">
    <div class="col-12 sm:col-5 flex flex-column gap-3">
      <dps-phone-number-field
        [control]="contactStepForm.controls.mobileNumber"
      ></dps-phone-number-field>
      <dps-email-field [control]="contactStepForm.controls.email"></dps-email-field>
      <div class="flex flex-column">
        <label class="mb-1" for="communicationLanguage">
          {{ 'EMPLOYEE_PROFILE.COMMUNICATION_LANGUAGE' | translate }}
        </label>
        <p-select
          [options]="(languages$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [formControl]="contactStepForm.controls.communicationLanguage"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="communicationLanguage"
          styleClass="w-full"
        ></p-select>
        <dps-field-validation-errors [control]="contactStepForm.controls.communicationLanguage">
        </dps-field-validation-errors>
      </div>
      <dps-address-autocomplete-field
        [label]="'EMPLOYEE_PROFILE.LEGAL_ADDRESS' | translate"
        [control]="contactStepForm.controls.address"
      ></dps-address-autocomplete-field>
      <dps-toggle-card
        [title]="'EMPLOYEE_PROFILE.DIFFERENT_RESIDENCY_ADDRESS' | translate"
        [toggled]="contactStepForm.controls.hasCustomResidencyAddress.value"
        (toggleChange)="contactStepForm.controls.hasCustomResidencyAddress.setValue($event)"
      >
        <dps-address-autocomplete-field
          [label]="'EMPLOYEE_PROFILE.RESIDENCY_ADDRESS' | translate"
          [control]="contactStepForm.controls.residenceAddress"
        ></dps-address-autocomplete-field>
      </dps-toggle-card>
    </div>
  </div>

  <div
    class="flex justify-content-between p-3 absolute left-0 right-0 bottom-0 z-1 border-1 border-300 surface-0"
  >
    <p-button
      [label]="'EMPLOYEE_REGISTRATION.PREV_STEP_BUTTON' | translate: { stepNumber: 1 }"
      [outlined]="true"
      [plain]="true"
      icon="dps-icon dps-icon-arrow_back"
      iconPos="left"
      (onClick)="activateCallback(1)"
    ></p-button>

    <p-button
      [label]="'EMPLOYEE_REGISTRATION.NEXT_STEP_BUTTON' | translate"
      icon="dps-icon dps-icon-arrow_back rotate-180"
      iconPos="right"
      [disabled]="contactStepForm.invalid"
      (onClick)="activateCallback(3)"
    ></p-button>
  </div>
</ng-template>

<ng-template #paymentStepFormTemplate let-activateCallback="activateCallback">
  <div class="grid">
    <div class="col-12 sm:col-5 flex flex-column gap-3">
      <div class="flex flex-column">
        <label class="mb-1" for="maritalStatus">
          {{ 'EMPLOYEE_PROFILE.MARITAL_STATUS' | translate }}
        </label>
        <p-select
          [options]="(maritalStatuses$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [formControl]="paymentStepForm.controls.maritalStatus"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="maritalStatus"
          styleClass="w-full"
        ></p-select>
        <dps-field-validation-errors [control]="paymentStepForm.controls.maritalStatus">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="dependentPartner">
          {{ 'EMPLOYEE_PROFILE.DEPENDENT_PARTNER' | translate }}
        </label>
        <p-select
          [options]="(dependentPartners$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [formControl]="paymentStepForm.controls.dependentPartner"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="dependentPartner"
          styleClass="w-full"
        ></p-select>
        <dps-field-validation-errors [control]="paymentStepForm.controls.dependentPartner">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="dependentChildren">
          {{ 'EMPLOYEE_PROFILE.DEPENDENT_CHILDREN' | translate }}
        </label>
        <p-inputNumber
          inputId="dependentChildren"
          styleClass="w-full"
          [formControl]="paymentStepForm.controls.dependentChildren"
        >
        </p-inputNumber>
        <dps-field-validation-errors [control]="paymentStepForm.controls.dependentChildren">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="payrollTax">
          {{ 'EMPLOYEE_PROFILE.PAYROLL_TAX' | translate }}
        </label>
        <p-select
          [options]="(taxLevels$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [formControl]="paymentStepForm.controls.taxLevel"
          [autoOptionFocus]="false"
          [overlayOptions]="overlayOptionsConfig"
          inputId="payrollTax"
          styleClass="w-full"
        ></p-select>
        <small class="mt-1 pl-2">
          {{ 'EMPLOYEE_REGISTRATION.PAYROLL_TAX_HINT_TEXT' | translate }}
        </small>
        <dps-field-validation-errors [control]="paymentStepForm.controls.taxLevel">
        </dps-field-validation-errors>
      </div>
      <dps-iban-field [control]="paymentStepForm.controls.iban"></dps-iban-field>
    </div>
  </div>

  <div
    class="flex justify-content-between p-3 absolute left-0 right-0 bottom-0 z-1 border-1 border-300 surface-0"
  >
    <p-button
      [label]="'EMPLOYEE_REGISTRATION.PREV_STEP_BUTTON' | translate: { stepNumber: 2 }"
      [outlined]="true"
      [plain]="true"
      icon="dps-icon dps-icon-arrow_back"
      iconPos="left"
      (onClick)="activateCallback(2)"
    ></p-button>

    @if (fromItsMe && employeeData.newcomerInfo.verified) {
      <p-button
        [label]="'EMPLOYEE_REGISTRATION.COMPLETE_REGISTRATION_BUTTON' | translate"
        [loading]="(inProcess$ | async) || false"
        [disabled]="paymentStepForm.invalid"
        (onClick)="completeRegistration()"
      ></p-button>
    } @else {
      <p-button
        [label]="'EMPLOYEE_REGISTRATION.NEXT_STEP_BUTTON' | translate"
        icon="dps-icon dps-icon-arrow_back rotate-180"
        iconPos="right"
        [disabled]="paymentStepForm.invalid"
        (onClick)="activateCallback(4)"
      ></p-button>
    }
  </div>
</ng-template>

<ng-template #documentsStepFormTemplate let-activateCallback="activateCallback">
  <div class="flex flex-column sm:flex-row gap-3">
    <dps-media-card
      [label]="'EMPLOYEE_PROFILE.ID_FRONT' | translate"
      [media]="idFrontMedia"
      [mediaType]="mediaTypeEnum.IDENTITY"
      [publicUpload]="true"
      (mediaUploaded)="addMedia($event, documentsStepForm.controls.identityMedia)"
      (mediaRemoved)="removeMedia($event, documentsStepForm.controls.identityMedia)"
    ></dps-media-card>
    <dps-media-card
      [label]="'EMPLOYEE_PROFILE.ID_BACK' | translate"
      [media]="idBackMedia"
      [mediaType]="mediaTypeEnum.IDENTITY"
      [publicUpload]="true"
      (mediaUploaded)="addMedia($event, documentsStepForm.controls.identityMedia)"
      (mediaRemoved)="removeMedia($event, documentsStepForm.controls.identityMedia)"
    ></dps-media-card>
  </div>
  <p-divider></p-divider>
  <dps-media-card
    [label]="'EMPLOYEE_PROFILE.BANK_DOCUMENT' | translate"
    [media]="creditCardMedia"
    [mediaType]="mediaTypeEnum.CREDIT_CARD"
    [publicUpload]="true"
    (mediaUploaded)="addMedia($event, documentsStepForm.controls.creditCardMedia)"
    (mediaRemoved)="removeMedia($event, documentsStepForm.controls.creditCardMedia)"
  ></dps-media-card>

  <div
    class="flex justify-content-between p-3 absolute left-0 right-0 bottom-0 z-1 border-1 border-300 surface-0"
  >
    <p-button
      [label]="'EMPLOYEE_REGISTRATION.PREV_STEP_BUTTON' | translate: { stepNumber: 3 }"
      [outlined]="true"
      [plain]="true"
      icon="dps-icon dps-icon-arrow_back"
      iconPos="left"
      (onClick)="activateCallback(3)"
    ></p-button>

    <p-button
      [label]="'EMPLOYEE_REGISTRATION.COMPLETE_REGISTRATION_BUTTON' | translate"
      [loading]="(inProcess$ | async) || false"
      [disabled]="documentsStepForm.invalid"
      (onClick)="completeRegistration()"
    ></p-button>
  </div>
</ng-template>

<p-confirmDialog styleClass="m-3">
  <ng-template pTemplate="headless" let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-column p-4 surface-overlay border-round">
      <span>{{ 'EMPLOYEE_REGISTRATION.CONFIRM_CANCEL' | translate }}</span>

      <div class="flex align-items-center gap-2 mt-3">
        <p-button
          [text]="true"
          [plain]="true"
          [label]="'EMPLOYEE_REGISTRATION.CONFIRM_BUTTON' | translate"
          (click)="onAccept()"
        ></p-button>
        <p-button
          [label]="'EMPLOYEE_REGISTRATION.CANCEL_BUTTON' | translate"
          [outlined]="true"
          (click)="onReject()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
