<dps-page-header [title]="titleTranslation$ | async" [subtitle]="(company$ | async)?.name">
  @if (isMobileScreen()) {
    <p-overlaybadge styleClass="mt-2 mr-2" class="ml-auto" [badgeDisabled]="!companyActualsCount()">
      <p-button
        icon="dps-icon dps-icon-menu"
        text
        plain
        rounded
        class="z-1"
        (click)="showSidenav()"
      ></p-button>
    </p-overlaybadge>
  } @else {
    <app-action-center-dialog class="ml-auto"></app-action-center-dialog>
  }
</dps-page-header>

<main class="flex flex-column px-3 pt-3 flex-1 overflow-y-auto">
  <p-button
    icon="dps-icon dps-icon-group_add"
    [label]="'COMPANY_GROUPS.CREATE_NEW_GROUP_BUTTON' | translate"
    [routerLink]="groupsRouteEnum.CREATE"
    class="align-self-start"
  />

  <section class="flex justify-content-between my-3">
    <div class="flex flex-auto flex-column md:flex-row gap-2 md:gap-3">
      <div class="flex align-items-center gap-2">
        <p-iconField class="flex-1">
          <p-floatlabel variant="on">
            <p-inputIcon styleClass="dps-icon dps-icon-search" />
            <input
              fluid
              pInputText
              type="text"
              id="searchEmployeeInput"
              [formControl]="filtersForm.controls.nameLike"
            />
            <label for="searchEmployeeInput">
              {{ 'COMPANY_GROUPS.SEARCH_EMPLOYEE_PLACEHOLDER' | translate }}
            </label>
          </p-floatlabel>

          @if (filtersForm.controls.nameLike.value?.length) {
            <p-inputIcon
              styleClass="dps-icon dps-icon-close left-auto right-0 cursor-pointer bg-white mr-2"
              (click)="filtersForm.controls.nameLike.reset()"
            />
          }
        </p-iconField>

        @if (isMobileScreen()) {
          <p-overlaybadge
            [value]="activeFiltersCount$ | async"
            [badgeDisabled]="!(activeFiltersCount$ | async)"
            severity="secondary"
          >
            <p-button
              outlined
              [severity]="isMobileFiltersShown() ? 'primary' : 'secondary'"
              icon="dps-icon dps-icon-tune"
              (click)="toggleMobileFilters()"
            />
          </p-overlaybadge>
        }
      </div>

      @if (isMobileFiltersShown()) {
        <p-floatlabel variant="on">
          <p-multiSelect
            fluid
            display="chip"
            optionLabel="name"
            optionValue="id"
            dataKey="id"
            id="groupsFilterMultiselect"
            [options]="(companyGroups$ | async) || []"
            [formControl]="filtersForm.controls.groupIds"
            [emptyMessage]="'GENERAL.NO_RESULTS' | translate"
            (onPanelHide)="groupSearchControl.reset()"
          >
            <ng-template pTemplate="filter">
              <ng-container [ngTemplateOutlet]="groupSearchField"></ng-container>
            </ng-template>
          </p-multiSelect>
          <label for="groupsFilterMultiselect">
            {{ 'COMPANY_GROUPS.FILTER_BY_GROUP_PLACEHOLDER' | translate }}
          </label>
        </p-floatlabel>

        <div class="flex align-items-center gap-2">
          <p-checkbox
            [formControl]="filtersForm.controls.unassigned"
            [binary]="true"
            inputId="showUnassignedEmployees"
          ></p-checkbox>
          <label for="showUnassignedEmployees">
            {{ 'COMPANY_GROUPS.SHOW_UNASSIGNED_EMPLOYEES' | translate }}
          </label>
        </div>
      }
    </div>

    @if (!isMobileScreen() && (activeFiltersCount$ | async); as activeFiltersCount) {
      <p-button
        [label]="
          'GENERAL.CLEAR_FILTERS_BUTTON'
            | translate: { count: activeFiltersCount, plural: activeFiltersCount > 1 ? 's' : '' }
        "
        icon="dps-icon dps-icon-close"
        severity="secondary"
        [outlined]="true"
        (onClick)="filtersForm.reset()"
      />
    }
  </section>

  <p-table
    [value]="(employeeGroupEngagements$ | async)?.content || []"
    [scrollable]="true"
    scrollHeight="flex"
    class="overflow-auto"
    dataKey="id"
    [rowHover]="true"
    [rowTrackBy]="employeesTrackByFn"
    [loading]="isLoadingEmployees()"
    [size]="isMobileScreen() ? 'small' : 'large'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-20rem">{{ 'COMPANY_GROUPS.COLUMNS.EMPLOYEE' | translate }}</th>
        <th>
          {{ 'COMPANY_GROUPS.COLUMNS.ASSIGNED_GROUPS' | translate }}
        </th>
        <th>
          <p-button
            text
            icon="dps-icon dps-icon-more"
            (onClick)="
              isMobileScreen()
                ? isManageGroupsDialogVisible.set(true)
                : manageGroupsPopover.toggle($event)
            "
          />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employeeGroups>
      <tr>
        <td>{{ employeeGroups.firstName }} {{ employeeGroups.lastName }}</td>

        <td>
          <!-- <p-button
            icon="dps-icon dps-icon-add"
            class="assign-group-button fadeinleft animation-duration-300"
            [rounded]="true"
            styleClass="w-2rem h-2rem"
            (onClick)="openAssignGroupsDialog(employeeGroups)"
          /> -->

          <div class="flex flex-wrap align-items-center gap-2" style="min-height: 3rem">
            @for (
              group of employeeGroups.engagementGroups;
              track group.id;
              let groupIndex = $index
            ) {
              <p-chip>
                <span>{{ group.name }}</span>
                <span
                  class="dps-icon dps-icon-delete text-xl text-red-500 cursor-pointer scalein animation-duration-300 remove-group-icon"
                  (click)="removeEmployeeFromGroup(employeeGroups, groupIndex)"
                ></span>
              </p-chip>
            } @empty {
              <span class="text-sm">{{
                'COMPANY_GROUPS.EMPLOYEE_NOT_ASSIGNED_TO_GROUPS' | translate
              }}</span>
            }
          </div>
        </td>

        <td>
          <p-button
            text
            icon="dps-icon dps-icon-more rotate-90"
            (onClick)="currEmployeeRow.set(employeeGroups); employeeRowMenu.toggle($event)"
          ></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="text-center">
          {{ 'COMPANY_GROUPS.NO_EMPLOYEES_FOUND' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  @if (employeeGroupEngagements$ | async; as employeeGroupEngagements) {
    <p-paginator
      styleClass="px-0"
      [first]="employeeGroupEngagements.number * employeeGroupEngagements.size"
      [rows]="employeeGroupEngagements.size"
      [totalRecords]="employeeGroupEngagements.totalElements"
      showCurrentPageReport
      [showPageLinks]="!isMobileScreen()"
      [currentPageReportTemplate]="'COMPANY_GROUPS.PAGINATION_REPORT_TEMPLATE' | translate"
      (onPageChange)="filtersForm.patchValue({ page: $event.page })"
    ></p-paginator>
  }
</main>

<p-toast> </p-toast>

<p-menu
  #employeeRowMenu
  popup
  [model]="employeeRowMenuItems"
  (onHide)="currEmployeeRow.set(null)"
/>

<p-popover #manageGroupsPopover dismissable (onHide)="groupSearchControl.reset()">
  <ng-container [ngTemplateOutlet]="manageGroupsTemplate"></ng-container>
</p-popover>

<p-dialog
  [(visible)]="isManageGroupsDialogVisible"
  modal
  [showHeader]="false"
  contentStyleClass="pt-3"
  (onHide)="groupSearchControl.reset()"
>
  <ng-container [ngTemplateOutlet]="manageGroupsTemplate"></ng-container>
  <div class="text-center pt-2">
    <p-button
      outlined
      severity="secondary"
      [label]="'GENERAL.CLOSE' | translate"
      (onClick)="isManageGroupsDialogVisible.set(false)"
    />
  </div>
</p-dialog>

<ng-template #manageGroupsTemplate>
  <div class="flex flex-column gap-2 w-20rem max-h-30rem">
    <ng-container [ngTemplateOutlet]="groupSearchField"></ng-container>

    <ul class="flex flex-column gap-1 p-0 m-0 overflow-auto">
      @for (group of companyGroups$ | async; track group.id) {
        <li class="flex justify-content-between align-items-center gap-1">
          @if (editableGroupId() === group.id) {
            <div class="flex flex-column flex-1">
              <p-inputGroup>
                <input
                  type="text"
                  pInputText
                  [formControl]="newGroupNameControl"
                  (keyup.enter)="updateGroupName(group, manageGroupsPopover)"
                />
                <button
                  type="button"
                  pButton
                  icon="dps-icon dps-icon-check"
                  class="p-button-success"
                  [disabled]="newGroupNameControl.invalid"
                  (click)="updateGroupName(group, manageGroupsPopover)"
                ></button>
                <button
                  type="button"
                  pButton
                  icon="dps-icon dps-icon-close"
                  class="p-button-secondary"
                  (click)="setEditableGroup(null)"
                ></button>
              </p-inputGroup>

              <dps-field-validation-errors [control]="newGroupNameControl">
                @if (
                  newGroupNameControl.hasError('minlength') ||
                  newGroupNameControl.hasError('maxlength')
                ) {
                  <small class="text-red-500">
                    {{ 'CREATE_COMPANY_GROUP.GROUP_NAME_IS_TOO_SHORT_OR_LONG_ERROR' | translate }}
                  </small>
                }
              </dps-field-validation-errors>
            </div>
          } @else {
            <span class="flex-1">{{ group.name }}</span>
            <p-button
              [text]="true"
              [plain]="true"
              icon="dps-icon dps-icon-edit"
              [pTooltip]="'COMPANY_GROUPS.UPDATE_GROUP_NAME' | translate"
              tooltipPosition="left"
              appendTo="body"
              (onClick)="setEditableGroup(group)"
            ></p-button>
            <p-button
              [text]="true"
              severity="danger"
              icon="dps-icon dps-icon-delete"
              [pTooltip]="'COMPANY_GROUPS.REMOVE_GROUP' | translate"
              tooltipPosition="left"
              appendTo="body"
              (onClick)="removeGroup(group)"
            ></p-button>
          }
        </li>
      } @empty {
        <span class="text-center">{{ 'GENERAL.NO_RESULTS' | translate }}</span>
      }
    </ul>
  </div>
</ng-template>

<ng-template #groupSearchField>
  <p-iconField class="w-full">
    <p-inputIcon styleClass="dps-icon dps-icon-search" />
    <input
      class="w-full"
      pInputText
      [placeholder]="'COMPANY_GROUPS.SEARCH_A_GROUP' | translate"
      [formControl]="groupSearchControl"
    />
    @if (groupSearchControl.value.length) {
      <p-inputIcon
        styleClass="dps-icon dps-icon-close left-auto right-0 mr-1 cursor-pointer bg-white"
        (click)="groupSearchControl.reset(); $event.stopPropagation()"
      />
    }
  </p-iconField>
</ng-template>

<p-confirmDialog>
  <ng-template pTemplate="headless" let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-column p-4 surface-overlay border-round max-w-30rem">
      <h3 class="font-medium text-center" [innerHTML]="message.message"></h3>
      <div class="flex justify-content-evenly">
        <p-button
          severity="danger"
          [text]="true"
          [label]="'GENERIC_CONFIRM_DIALOG.CONFIRM_BTN' | translate"
          (onClick)="onAccept()"
        ></p-button>

        <p-button
          autofocus
          [outlined]="true"
          [plain]="true"
          [label]="'GENERIC_CONFIRM_DIALOG.CANCEL_BTN' | translate"
          (onClick)="onReject()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
