dps-address-autocomplete-field {
  .address-input-wrapper:has(#busInput) {
    #addressAutocomplete {
      border-bottom-width: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
