<dps-page-header [title]="'INVITE_EMPLOYEE.TITLE' | translate">
  <div class="flex justify-content-end">
    <p-button
      class="md:hidden"
      icon="dps-icon dps-icon-close"
      [rounded]="true"
      [outlined]="true"
      [dpsNavigateBackButton]="defaultBackRoute"
    ></p-button>
  </div>
</dps-page-header>

<main class="p-3 mb-8 flex-1 overflow-y-auto">
  <p-stepper [linear]="true" [value]="1">
    @if (isMobileScreen) {
      <p-step-item [value]="1">
        <p-step>{{ 'INVITE_EMPLOYEE.STEPPER_HEADERS.GENERAL' | translate }}</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <ng-container
              [ngTemplateOutlet]="generalStepTemplate"
              [ngTemplateOutletContext]="{ activateCallback }"
            ></ng-container>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="2">
        <p-step>{{ 'INVITE_EMPLOYEE.STEPPER_HEADERS.ALLOWANCES' | translate }}</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <ng-container
              [ngTemplateOutlet]="allowancesStepTemplate"
              [ngTemplateOutletContext]="{ activateCallback }"
            ></ng-container>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="3">
        <p-step>{{ 'INVITE_EMPLOYEE.STEPPER_HEADERS.SHARE_INVITATION' | translate }}</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <ng-container
              [ngTemplateOutlet]="shareStepTemplate"
              [ngTemplateOutletContext]="{ activateCallback }"
            ></ng-container>
          </ng-template>
        </p-step-panel>
      </p-step-item>
    } @else {
      <p-step-list>
        <p-step [value]="1">{{ 'INVITE_EMPLOYEE.STEPPER_HEADERS.GENERAL' | translate }}</p-step>
        <p-step [value]="2">{{ 'INVITE_EMPLOYEE.STEPPER_HEADERS.ALLOWANCES' | translate }}</p-step>
        <p-step [value]="3">
          {{ 'INVITE_EMPLOYEE.STEPPER_HEADERS.SHARE_INVITATION' | translate }}
        </p-step>
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <ng-container
              [ngTemplateOutlet]="generalStepTemplate"
              [ngTemplateOutletContext]="{ activateCallback }"
            ></ng-container>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <ng-container
              [ngTemplateOutlet]="allowancesStepTemplate"
              [ngTemplateOutletContext]="{ activateCallback }"
            ></ng-container>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <ng-container
              [ngTemplateOutlet]="shareStepTemplate"
              [ngTemplateOutletContext]="{ activateCallback }"
            ></ng-container>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    }
  </p-stepper>
</main>

<ng-template #generalStepTemplate let-activateCallback="activateCallback">
  <div class="grid flex-1">
    <div class="col-12 md:col-5 flex flex-column gap-3">
      <div class="flex flex-column">
        <label class="mb-1" for="name">{{ 'INVITE_EMPLOYEE.NAME_LABEL' | translate }}</label>
        <input
          pInputText
          id="name"
          [formControl]="generalStepForm.controls.referenceName"
          class="w-full"
        />
        <dps-field-validation-errors [control]="generalStepForm.controls.referenceName">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="position">
          {{ 'INVITE_EMPLOYEE.COMPANY_FUNCTION_LABEL' | translate }}
        </label>
        <input
          pInputText
          id="position"
          [formControl]="generalStepForm.controls.position"
          class="w-full"
        />
        <dps-field-validation-errors [control]="generalStepForm.controls.position">
        </dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="pcCode">
          {{ 'EMPLOYEE_WAGE.PC_CODE_LABEL' | translate }}
        </label>
        <p-select
          [options]="(pcCodes$ | async) || []"
          [dataKey]="dictionaryItemOptionValue"
          [autoOptionFocus]="false"
          inputId="pcCode"
          scrollHeight="300px"
          styleClass="w-full"
          [overlayOptions]="dropdownOptionsConfig"
          [formControl]="generalStepForm.controls.paritairComite"
        >
          <ng-template pTemplate="selectedItem">
            @if (generalStepForm.controls.paritairComite.value; as pcCode) {
              <span>{{ pcCode.code }}</span>
              <span>&nbsp;</span>
              <span>{{ pcCode.name }}</span>
            }
          </ng-template>
          <ng-template let-pcCode pTemplate="item">
            <div class="flex align-items-center gap-2">
              <span>{{ pcCode.code }}</span>
              <span class="white-space-normal">{{ pcCode.name }}</span>
            </div>
          </ng-template>
        </p-select>
        <dps-field-validation-errors
          [control]="generalStepForm.controls.paritairComite"
        ></dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="statute">
          {{ 'INVITE_EMPLOYEE.STATUTE_LABEL' | translate }}
        </label>
        <p-select
          [options]="(statutes$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [autoOptionFocus]="false"
          inputId="statute"
          styleClass="w-full"
          [overlayOptions]="dropdownOptionsConfig"
          [formControl]="generalStepForm.controls.statute"
        ></p-select>
        <dps-field-validation-errors
          [control]="generalStepForm.controls.statute"
        ></dps-field-validation-errors>
      </div>
      <div class="flex flex-column gap-2">
        <span>{{ 'INVITE_EMPLOYEE.GROSS_HOURLY_WAGE_LABEL' | translate }}</span>

        <p-selectButton
          [options]="grossHourlyWageOptions"
          [unselectable]="true"
          [allowEmpty]="false"
          [formControl]="generalStepForm.controls.useMinimumWage"
          styleClass="w-full"
        >
          <ng-template let-option #item>
            <span>
              {{ option.labelTranslationKey | translate }}
            </span>
          </ng-template>
        </p-selectButton>

        @if (!generalStepForm.controls.useMinimumWage.value) {
          <div class="flex flex-column">
            <p-inputNumber
              inputId="hourlyWage"
              mode="currency"
              currency="EUR"
              [minFractionDigits]="4"
              class="w-6"
              [placeholder]="('INVITE_EMPLOYEE.GROSS_HOURLY_WAGE_LABEL' | translate) + ' (EUR)'"
              [formControl]="generalStepForm.controls.wageHour"
            >
            </p-inputNumber>

            <dps-field-validation-errors [control]="generalStepForm.controls.wageHour">
              @if (generalStepForm.controls.wageHour.getError('min'); as minErrorObj) {
                <small class="text-red-500">{{
                  'VALIDATION_ERRORS.EMPLOYEE_WAGE_MIN'
                    | translate
                      : {
                          min: minErrorObj.min | currency
                        }
                }}</small>
              }
              @if (generalStepForm.controls.wageHour.getError('max'); as maxErrorObj) {
                <small class="text-red-500">{{
                  'VALIDATION_ERRORS.EMPLOYEE_WAGE_MAX'
                    | translate
                      : {
                          max: maxErrorObj.max | currency
                        }
                }}</small>
              }
            </dps-field-validation-errors>
          </div>
        }

        <small>
          {{
            'INVITE_EMPLOYEE.WAGE_TOGGLE_INFO' | translate: { minWage: minWage | number: '1.2-2' }
          }}
        </small>
      </div>

      <dps-address-autocomplete-field
        [label]="'INVITE_EMPLOYEE.EMPLOYMENT_PLACE_LABEL' | translate"
        [control]="generalStepForm.controls.employmentAddress"
      ></dps-address-autocomplete-field>

      @if (isGroupsEnabled()) {
        <div class="flex flex-column">
          <span class="mb-2">{{ 'INVITE_EMPLOYEE.ASSIGN_TO_GROUP_LABEL' | translate }}</span>

          <p-multiSelect
            [options]="(companyGroups$ | async) || []"
            styleClass="w-full"
            optionLabel="name"
            dataKey="id"
            appendTo="body"
            [showToggleAll]="false"
            [virtualScroll]="true"
            [virtualScrollItemSize]="40"
            [overlayOptions]="dropdownOptionsConfig"
            [formControl]="generalStepForm.controls.groups"
            [resetFilterOnHide]="true"
          ></p-multiSelect>
          <dps-field-validation-errors [control]="generalStepForm.controls.groups">
          </dps-field-validation-errors>
        </div>
      }
    </div>
  </div>

  <div
    class="flex justify-content-end md:justify-content-between p-3 absolute left-0 right-0 bottom-0 z-1 border-top-1 border-300 surface-0"
  >
    <p-button
      class="hidden md:inline-block"
      [text]="true"
      [plain]="true"
      [dpsNavigateBackButton]="defaultBackRoute"
      [label]="'INVITE_EMPLOYEE.CANCEL_BUTTON' | translate"
    ></p-button>

    <p-button
      [label]="'INVITE_EMPLOYEE.NEXT_STEP_BUTTON' | translate"
      icon="dps-icon dps-icon-arrow_back rotate-180"
      iconPos="right"
      [disabled]="generalStepForm.invalid"
      (onClick)="activateCallback(2)"
    />
  </div>
</ng-template>

<ng-template #allowancesStepTemplate let-activateCallback="activateCallback">
  <div class="grid">
    <div class="col md:col-5">
      <dps-toggle-card
        [title]="'INVITE_EMPLOYEE.TRANSPORTATION_ALLOWANCE_LABEL' | translate"
        [toggled]="allowancesStepForm.controls.travelAllowance.controls.isEnabled.value"
        [disabled]="allowancesStepForm.controls.travelAllowance.controls.isEnabled.disabled"
        (toggleChange)="
          allowancesStepForm.controls.travelAllowance.controls.isEnabled.setValue($event)
        "
      >
        <div class="flex flex-column">
          <label class="mb-1" for="transportationType">
            {{ 'INVITE_EMPLOYEE.TRANSPORTATION_TYPE_LABEL' | translate }}
          </label>
          <p-select
            [options]="(travelAllowances$ | async) || []"
            [optionLabel]="dictionaryItemOptionLabel"
            [dataKey]="dictionaryItemOptionValue"
            [autoOptionFocus]="false"
            inputId="transportationType"
            styleClass="w-full"
            appendTo="body"
            [overlayOptions]="dropdownOptionsConfig"
            [formControl]="allowancesStepForm.controls.travelAllowance.controls.travelAllowance"
          ></p-select>
          <dps-field-validation-errors
            [control]="allowancesStepForm.controls.travelAllowance.controls.travelAllowance"
          ></dps-field-validation-errors>
        </div>
      </dps-toggle-card>
    </div>
    <div class="flex flex-column col md:col-5 md:col-offset-1 gap-3">
      <dps-toggle-card
        [title]="'INVITE_EMPLOYEE.MEAL_VOUCHERS_LABEL' | translate"
        [toggled]="allowancesStepForm.controls.mealVoucher.controls.isEnabled.value"
        [disabled]="allowancesStepForm.controls.mealVoucher.controls.isEnabled.disabled"
        (toggleChange)="allowancesStepForm.controls.mealVoucher.controls.isEnabled.setValue($event)"
      >
        <div class="flex flex-column gap-3">
          <div class="flex flex-column">
            <label class="mb-1" for="mealVouchersTotal">
              {{ 'INVITE_EMPLOYEE.MEAL_VOUCHERS_TOTAL_LABEL' | translate }}
            </label>
            <p-inputNumber
              inputId="mealVouchersTotal"
              mode="currency"
              currency="EUR"
              [minFractionDigits]="2"
              styleClass="w-full"
              [formControl]="allowancesStepForm.controls.mealVoucher.controls.shareTotal"
            >
            </p-inputNumber>
            <dps-field-validation-errors
              [control]="allowancesStepForm.controls.mealVoucher.controls.shareTotal"
            >
              @if (
                allowancesStepForm.controls.mealVoucher.controls.shareTotal.errors?.['min'];
                as minErrorObj
              ) {
                <small class="text-red-500">{{
                  'VALIDATION_ERRORS.MEAL_VOUCHERS_TOTAL_MIN'
                    | translate
                      : {
                          min: minErrorObj.min | currency
                        }
                }}</small>
              }
              @if (
                allowancesStepForm.controls.mealVoucher.controls.shareTotal.errors?.['max'];
                as maxErrorObj
              ) {
                <small class="text-red-500">{{
                  'VALIDATION_ERRORS.MEAL_VOUCHERS_TOTAL_MAX'
                    | translate
                      : {
                          max: maxErrorObj.max | currency
                        }
                }}</small>
              }
            </dps-field-validation-errors>
          </div>
          <div class="flex flex-column">
            <label class="mb-1" for="firstName">
              {{ 'INVITE_EMPLOYEE.MEAL_VOUCHERS_EMPLOYER_SHARE_LABEL' | translate }}
            </label>
            <p-inputNumber
              inputId="transportationAmount"
              mode="currency"
              currency="EUR"
              [minFractionDigits]="2"
              styleClass="w-full"
              [formControl]="allowancesStepForm.controls.mealVoucher.controls.shareCompany"
            >
            </p-inputNumber>
            <dps-field-validation-errors
              [control]="allowancesStepForm.controls.mealVoucher.controls.shareCompany"
            ></dps-field-validation-errors>
          </div>
          <div class="flex flex-column">
            <label class="mb-1" for="firstName">
              {{ 'INVITE_EMPLOYEE.MEAL_VOUCHERS_EMPLOYEE_SHARE_LABEL' | translate }}
            </label>
            <p-inputNumber
              inputId="transportationAmount"
              mode="currency"
              currency="EUR"
              [minFractionDigits]="2"
              styleClass="w-full"
              [formControl]="allowancesStepForm.controls.mealVoucher.controls.shareEmployee"
            >
            </p-inputNumber>
            <dps-field-validation-errors
              [control]="allowancesStepForm.controls.mealVoucher.controls.shareEmployee"
            >
              @if (
                allowancesStepForm.controls.mealVoucher.controls.shareEmployee.errors?.['min'];
                as minErrorObj
              ) {
                <small class="text-red-500">
                  {{
                    'VALIDATION_ERRORS.MEAL_VOUCHERS_EMPLOYEE_MIN'
                      | translate
                        : {
                            min: minErrorObj.min | currency
                          }
                  }}
                </small>
              }
            </dps-field-validation-errors>
          </div>
        </div>
      </dps-toggle-card>

      <div class="flex justify-content-between align-items-center">
        <label for="ecoVouchers">{{ 'INVITE_EMPLOYEE.ECO_VOUCHERS_LABEL' | translate }}</label>
        <p-toggleswitch
          inputId="ecoVouchers"
          [formControl]="allowancesStepForm.controls.invoiceEcoWeekly"
        ></p-toggleswitch>
      </div>
    </div>
  </div>

  <div
    class="flex justify-content-between p-3 absolute left-0 right-0 bottom-0 z-1 border-1 border-300 surface-0"
  >
    <p-button
      class="hidden md:inline-block"
      [text]="true"
      [plain]="true"
      [dpsNavigateBackButton]="defaultBackRoute"
      [label]="'INVITE_EMPLOYEE.CANCEL_BUTTON' | translate"
    ></p-button>

    <div class="flex flex-auto md:flex-grow-0 justify-content-between gap-3">
      <p-button
        [label]="'INVITE_EMPLOYEE.PREVIOUS_STEP_BUTTON' | translate: { stepNumber: 1 }"
        [outlined]="true"
        [plain]="true"
        icon="dps-icon dps-icon-arrow_back"
        (onClick)="activateCallback(1)"
      ></p-button>

      <p-button
        [label]="'INVITE_EMPLOYEE.NEXT_STEP_BUTTON' | translate"
        icon="dps-icon dps-icon-arrow_back rotate-180"
        iconPos="right"
        [disabled]="allowancesStepForm.invalid"
        (onClick)="activateCallback(3)"
      ></p-button>
    </div>
  </div>
</ng-template>

<ng-template #shareStepTemplate let-activateCallback="activateCallback">
  <div class="grid">
    <div class="col-12 md:col-5">
      <div class="flex flex-column border-round gap-3 p-4 surface-200">
        <span>{{ 'INVITE_EMPLOYEE.MAIL_INVITATION' | translate }}</span>
        <p-inputGroup>
          <input type="email" pInputText placeholder="E-mail" [formControl]="emailControl" />
          <button
            type="button"
            pButton
            [label]="'INVITE_EMPLOYEE.SEND_INVITATION_BUTTON' | translate"
            [loading]="(isCreatingInvitation$ | async) || false"
            [disabled]="emailControl.invalid"
            (click)="createInvitation()"
          ></button>
        </p-inputGroup>
        <span> {{ 'INVITE_EMPLOYEE.SEND_INVITATION_WITHOUT_MAIL' | translate }} </span>

        <p-button
          type="button"
          [label]="'INVITE_EMPLOYEE.COPY_INVITATION_BUTTON' | translate"
          [loading]="(isCreatingInvitation$ | async) || false"
          [disabled]="emailControl.valid && !!emailControl.value"
          (onClick)="createInvitation(true)"
        ></p-button>
      </div>
    </div>
  </div>

  <div
    class="flex justify-content-end md:justify-content-between p-3 absolute left-0 right-0 bottom-0 z-1 border-1 border-300 surface-0"
  >
    <p-button
      class="hidden md:inline-block"
      [text]="true"
      [plain]="true"
      [dpsNavigateBackButton]="defaultBackRoute"
      [label]="'INVITE_EMPLOYEE.CANCEL_BUTTON' | translate"
    ></p-button>

    <p-button
      [label]="'INVITE_EMPLOYEE.PREVIOUS_STEP_BUTTON' | translate: { stepNumber: 2 }"
      [outlined]="true"
      [plain]="true"
      icon="dps-icon dps-icon-arrow_back"
      (onClick)="activateCallback(2)"
    ></p-button>
  </div>
</ng-template>

<p-toast> </p-toast>
