<header class="flex align-items-center border-bottom-1 border-300 sticky top-0 py-3 bg-white z-1">
  <div class="flex-1">
    <span class="employee-name">{{ data.employee.name }}</span>
    <h3 class="m-0 text-primary">
      {{
        (isCreateMode ? 'EMPLOYEE_WAGE.CREATE_WAGE_TITLE' : 'EMPLOYEE_WAGE.UPDATE_WAGE_TITLE')
          | translate
      }}
    </h3>
  </div>

  <p-button
    icon="dps-icon dps-icon-close"
    [text]="true"
    [rounded]="true"
    severity="secondary"
    (onClick)="dialogRef.close()"
  ></p-button>
</header>

<main class="flex flex-column md:flex-row py-3 gap-4 md:gap-8">
  <div class="flex flex-1 flex-column gap-3">
    <div class="flex flex-column">
      <label class="mb-1" for="position">
        {{ 'EMPLOYEE_WAGE.COMPANY_FUNCTION_LABEL' | translate }}
      </label>
      <input pInputText id="position" class="w-full" [formControl]="form.controls.position" />
      <dps-field-validation-errors [control]="form.controls.position"></dps-field-validation-errors>
    </div>
    <div class="flex flex-column">
      <label class="mb-1" for="pcCode">
        {{ 'EMPLOYEE_WAGE.PC_CODE_LABEL' | translate }}
      </label>
      <p-select
        [options]="(pcCodes$ | async) || []"
        [dataKey]="dictionaryItemOptionValue"
        [autoOptionFocus]="false"
        inputId="pcCode"
        scrollHeight="300px"
        styleClass="w-full"
        [formControl]="form.controls.paritairComite"
      >
        <ng-template pTemplate="selectedItem">
          @if (form.controls.paritairComite.value; as pcCode) {
            <div class="flex gap-2">
              <span>{{ pcCode.code }}</span>
              <span class="text-overflow-ellipsis overflow-hidden">{{ pcCode.name }}</span>
            </div>
          }
        </ng-template>
        <ng-template let-pcCode pTemplate="item">
          <div class="flex align-items-center gap-2">
            <span>{{ pcCode.code }}</span>
            <span class="white-space-normal">{{ pcCode.name }}</span>
          </div>
        </ng-template>
      </p-select>
      <dps-field-validation-errors
        [control]="form.controls.paritairComite"
      ></dps-field-validation-errors>
    </div>
    <div class="flex flex-column">
      <label class="mb-1" for="statute">
        {{ 'EMPLOYEE_WAGE.STATUTE_LABEL' | translate }}
      </label>
      <p-select
        [options]="(statutes$ | async) || []"
        [optionLabel]="dictionaryItemOptionLabel"
        [dataKey]="dictionaryItemOptionValue"
        [autoOptionFocus]="false"
        inputId="statute"
        styleClass="w-full"
        [formControl]="form.controls.statute"
      ></p-select>
      <dps-field-validation-errors [control]="form.controls.statute"></dps-field-validation-errors>
    </div>
    <div class="flex flex-column">
      <label class="mb-1" for="hourlyWage">
        {{ 'EMPLOYEE_WAGE.GROSS_HOURLY_WAGE_LABEL' | translate }}
      </label>
      <p-inputNumber
        inputId="hourlyWage"
        mode="currency"
        currency="EUR"
        [minFractionDigits]="4"
        styleClass="w-full"
        [formControl]="form.controls.wageHour"
      >
      </p-inputNumber>
      <dps-field-validation-errors [control]="form.controls.wageHour">
        @if (form.controls.wageHour.errors?.['min']; as minErrorObj) {
          <small class="text-red-500">{{
            'VALIDATION_ERRORS.EMPLOYEE_WAGE_MIN'
              | translate
                : {
                    min: minErrorObj.min | currency,
                  }
          }}</small>
        }
        @if (form.controls.wageHour.errors?.['max']; as maxErrorObj) {
          <small class="text-red-500">{{
            'VALIDATION_ERRORS.EMPLOYEE_WAGE_MAX'
              | translate
                : {
                    max: maxErrorObj.max | currency,
                  }
          }}</small>
        }
      </dps-field-validation-errors>
    </div>
    @if (hasFullAccessRoles) {
      <div class="flex flex-column">
        <label class="mb-1" for="employmentReason">
          {{ 'EMPLOYEE_WAGE.EMPLOYMENT_REASON_LABEL' | translate }}
        </label>
        <p-select
          [options]="(reasons$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [autoOptionFocus]="false"
          inputId="employmentReason"
          styleClass="w-full"
          [formControl]="form.controls.reason"
        ></p-select>
        <dps-field-validation-errors [control]="form.controls.reason"></dps-field-validation-errors>
      </div>
      <div class="flex flex-column">
        <label class="mb-1" for="compensationHours">
          {{ 'EMPLOYEE_WAGE.COMPENSATION_HOURS_LABEL' | translate }}
        </label>
        <p-select
          [options]="(compensationHours$ | async) || []"
          [optionLabel]="dictionaryItemOptionLabel"
          [dataKey]="dictionaryItemOptionValue"
          [autoOptionFocus]="false"
          inputId="compensationHours"
          styleClass="w-full"
          [formControl]="form.controls.compensationHours"
        ></p-select>
        <dps-field-validation-errors
          [control]="form.controls.compensationHours"
        ></dps-field-validation-errors>
      </div>
    }

    <dps-address-autocomplete-field
      [label]="'EMPLOYEE_WAGE.EMPLOYMENT_PLACE_LABEL' | translate"
      [control]="form.controls.employmentAddress"
    ></dps-address-autocomplete-field>
    @if (canViewRevenueConsultant) {
      <div class="flex flex-column">
        <label class="mb-1" for="revenueConsultant">
          {{ 'EMPLOYEE_WAGE.DEFAULT_REVENUE_SALES_REP_LABEL' | translate }}
        </label>
        <p-select
          [options]="(consultants$ | async) || []"
          dataKey="id"
          [autoOptionFocus]="false"
          inputId="revenueConsultant"
          styleClass="w-full"
          appendTo="body"
          [formControl]="form.controls.revenueConsultant"
        >
          <ng-template pTemplate="selectedItem">
            <ng-container
              [ngTemplateOutlet]="revenueConsultantOptionTemplate"
              [ngTemplateOutletContext]="{ revConsultant: form.controls.revenueConsultant.value }"
            ></ng-container>
          </ng-template>

          <ng-template let-revConsultant pTemplate="item">
            <ng-container
              [ngTemplateOutlet]="revenueConsultantOptionTemplate"
              [ngTemplateOutletContext]="{ revConsultant }"
            ></ng-container>
          </ng-template>
        </p-select>
        <dps-field-validation-errors
          [control]="form.controls.revenueConsultant"
        ></dps-field-validation-errors>
      </div>
    }
  </div>

  <div class="flex flex-1 flex-column gap-3">
    <dps-toggle-card
      [title]="'EMPLOYEE_WAGE.TRANSPORTATION_ALLOWANCE_LABEL' | translate"
      [toggled]="travelAllowanceForm.controls.isEnabled.value"
      [disabled]="travelAllowanceForm.controls.isEnabled.disabled"
      (toggleChange)="travelAllowanceForm.controls.isEnabled.setValue($event)"
    >
      <div class="flex flex-column gap-3">
        <div class="flex flex-column">
          <label class="mb-1" for="transportationType">
            {{ 'EMPLOYEE_WAGE.TRANSPORTATION_TYPE_LABEL' | translate }}
          </label>
          <p-select
            [options]="(travelAllowances$ | async) || []"
            [optionLabel]="dictionaryItemOptionLabel"
            [dataKey]="dictionaryItemOptionValue"
            [autoOptionFocus]="false"
            inputId="transportationType"
            styleClass="w-full"
            appendTo="body"
            [formControl]="travelAllowanceForm.controls.travelAllowance"
          ></p-select>
          <dps-field-validation-errors
            [control]="travelAllowanceForm.controls.travelAllowance"
          ></dps-field-validation-errors>
        </div>

        @if (hasFullAccessRoles) {
          <div class="flex flex-column">
            <label class="mb-1" for="transportationDistance">
              {{ 'EMPLOYEE_WAGE.TRANSPORTATION_DISTANCE_LABEL' | translate }}
            </label>
            <p-inputNumber
              inputId="transportationDistance"
              styleClass="w-full"
              mode="decimal"
              [maxFractionDigits]="4"
              [formControl]="travelAllowanceForm.controls.distanceKm"
            >
            </p-inputNumber>
            <dps-field-validation-errors
              [control]="travelAllowanceForm.controls.distanceKm"
            ></dps-field-validation-errors>
            @if (isMissingAddressData) {
              <span class="text-red-500 text-sm">{{
                'EMPLOYEE_WAGE.MISSING_ADDRESS' | translate
              }}</span>
            }
            @if (googleMapLink?.length) {
              <span class="text-red-500 text-sm">
                {{ 'EMPLOYEE_WAGE.OPEN_MAPS' | translate }}
                <a [href]="googleMapLink"> {{ googleMapLink }} </a>
              </span>
            }
            <span
              class="underline text-sm align-self-end cursor-pointer"
              (click)="calculateTravelAllowance()"
            >
              {{ 'EMPLOYEE_WAGE.CALCULATE_DISTANCE' | translate }}
            </span>
          </div>

          <div class="flex flex-column">
            <label class="mb-1" for="transportationAmount">
              {{ 'EMPLOYEE_WAGE.TRANSPORTATION_AMOUNT_LABEL' | translate }}
            </label>
            <p-inputNumber
              inputId="transportationAmount"
              mode="currency"
              currency="EUR"
              [minFractionDigits]="4"
              styleClass="w-full"
              [formControl]="travelAllowanceForm.controls.forfait"
            >
            </p-inputNumber>
            <dps-field-validation-errors
              [control]="travelAllowanceForm.controls.forfait"
            ></dps-field-validation-errors>
          </div>
        }
      </div>
    </dps-toggle-card>

    <dps-toggle-card
      [title]="'EMPLOYEE_WAGE.MEAL_VOUCHERS_LABEL' | translate"
      [toggled]="mealVoucherForm.controls.isEnabled.value"
      [disabled]="mealVoucherForm.controls.isEnabled.disabled"
      (toggleChange)="mealVoucherForm.controls.isEnabled.setValue($event)"
    >
      <div class="flex flex-column gap-3">
        <div class="flex flex-column">
          <label class="mb-1" for="mealVouchersTotal">
            {{ 'EMPLOYEE_WAGE.MEAL_VOUCHERS_TOTAL_LABEL' | translate }}
          </label>
          <p-inputNumber
            inputId="mealVouchersTotal"
            mode="currency"
            currency="EUR"
            [minFractionDigits]="2"
            styleClass="w-full"
            [formControl]="mealVoucherForm.controls.shareTotal"
          >
          </p-inputNumber>
          <dps-field-validation-errors [control]="mealVoucherForm.controls.shareTotal">
            @if (mealVoucherForm.controls.shareTotal.errors?.['min']; as minErrorObj) {
              <small class="text-red-500">{{
                'VALIDATION_ERRORS.MEAL_VOUCHERS_TOTAL_MIN'
                  | translate
                    : {
                        min: minErrorObj.min | currency,
                      }
              }}</small>
            }
            @if (mealVoucherForm.controls.shareTotal.errors?.['max']; as maxErrorObj) {
              <small class="text-red-500">{{
                'VALIDATION_ERRORS.MEAL_VOUCHERS_TOTAL_MAX'
                  | translate
                    : {
                        max: maxErrorObj.max | currency,
                      }
              }}</small>
            }
          </dps-field-validation-errors>
        </div>
        <div class="flex flex-column">
          <label class="mb-1" for="firstName">
            {{ 'EMPLOYEE_WAGE.MEAL_VOUCHERS_EMPLOYER_SHARE_LABEL' | translate }}
          </label>
          <p-inputNumber
            inputId="transportationAmount"
            mode="currency"
            currency="EUR"
            [minFractionDigits]="2"
            styleClass="w-full"
            [formControl]="mealVoucherForm.controls.shareCompany"
          >
          </p-inputNumber>
          <dps-field-validation-errors
            [control]="mealVoucherForm.controls.shareCompany"
          ></dps-field-validation-errors>
        </div>
        <div class="flex flex-column">
          <label class="mb-1" for="firstName">
            {{ 'EMPLOYEE_WAGE.MEAL_VOUCHERS_EMPLOYEE_SHARE_LABEL' | translate }}
          </label>
          <p-inputNumber
            inputId="transportationAmount"
            mode="currency"
            currency="EUR"
            [minFractionDigits]="2"
            styleClass="w-full"
            [formControl]="mealVoucherForm.controls.shareEmployee"
          >
          </p-inputNumber>
          <dps-field-validation-errors [control]="mealVoucherForm.controls.shareEmployee">
            @if (mealVoucherForm.controls.shareEmployee.errors?.['min']; as minErrorObj) {
              <small class="text-red-500">
                {{
                  'VALIDATION_ERRORS.MEAL_VOUCHERS_EMPLOYEE_MIN'
                    | translate
                      : {
                          min: minErrorObj.min | currency,
                        }
                }}
              </small>
            }
          </dps-field-validation-errors>
        </div>
        <div class="flex flex-column">
          <label class="mb-1" for="mv-minHours">
            {{ 'EMPLOYEE_WAGE.MEAL_VOUCHERS_MIN_WORK_HOURS_LABEL' | translate }}
          </label>
          <p-inputNumber
            minFractionDigits="1"
            maxFractionDigits="1"
            inputId="mv-minHours"
            styleClass="w-full"
            [formControl]="mealVoucherForm.controls.minimumHours"
          >
          </p-inputNumber>
          <dps-field-validation-errors
            [control]="mealVoucherForm.controls.minimumHours"
          ></dps-field-validation-errors>
        </div>
      </div>
    </dps-toggle-card>

    <div class="flex justify-content-between align-items-center">
      <label for="ecoVouchers">{{ 'EMPLOYEE_WAGE.ECO_VOUCHERS_LABEL' | translate }}</label>
      <p-toggleswitch
        inputId="ecoVouchers"
        [formControl]="form.controls.invoiceEcoWeekly"
      ></p-toggleswitch>
    </div>
  </div>
</main>

<footer class="flex flex-wrap py-3 gap-3 border-top-1 border-300">
  @if (isEditMode && form.dirty) {
    <small>
      {{ 'EMPLOYEE_WAGE.CHANGES_NOT_APPLIED_TO_EXISTING_CONTRACTS' | translate }}
    </small>
  }
  <p-button
    [label]="'EMPLOYEE_WAGE.SAVE_BUTTON' | translate"
    [disabled]="form.invalid"
    [loading]="(inProcess$ | async) || false"
    (onClick)="saveWage()"
  ></p-button>
  <p-button
    [label]="'EMPLOYEE_WAGE.CANCEL_BUTTON' | translate"
    [text]="true"
    severity="secondary"
    (onClick)="dialogRef.close()"
  ></p-button>
</footer>

<ng-template let-revConsultant="revConsultant" #revenueConsultantOptionTemplate>
  @if (revConsultant) {
    <span>{{ revConsultant.firstName }}</span>
    <span>&nbsp;</span>
    <span>{{ revConsultant.lastName }}</span>
  }
</ng-template>
