<dps-page-header [title]="titleTranslation$ | async" [subtitle]="company()?.name"></dps-page-header>

<main class="flex flex-column md:align-items-center flex-grow-1 px-3 pt-3 overflow-hidden">
  <h4 class="text-center font-medium mt-0">{{ 'CREATE_COMPANY_GROUP.INFO_TEXT' | translate }}</h4>

  <div class="flex flex-column">
    <input
      pInputText
      id="new-group-name"
      [pAutoFocus]="true"
      autofocus
      [formControl]="groupNameControl"
      [placeholder]="'CREATE_COMPANY_GROUP.GROUP_NAME_LABEL' | translate"
      class="md:w-30rem"
    />
    <dps-field-validation-errors [control]="groupNameControl">
      @if (groupNameControl.hasError('minlength') || groupNameControl.hasError('maxlength')) {
        <small class="text-red-500">
          {{ 'CREATE_COMPANY_GROUP.GROUP_NAME_IS_TOO_SHORT_OR_LONG_ERROR' | translate }}
        </small>
      }
    </dps-field-validation-errors>
  </div>

  <p-table
    [value]="(employees$ | async)?.content || []"
    [(selection)]="selectedEmployees"
    selectionMode="multiple"
    [scrollable]="true"
    scrollHeight="flex"
    class="overflow-auto mt-3"
    dataKey="id"
    [loading]="isLoading()"
    styleClass="md:w-30rem"
    [rowTrackBy]="trackByFn"
  >
    <ng-template pTemplate="header">
      <tr>
        <th colspan="2">
          <p-iconField>
            <p-inputIcon styleClass="dps-icon dps-icon-search" />
            <input
              pInputText
              type="text"
              [placeholder]="'CREATE_COMPANY_GROUP.SEARCH_EMPLOYEE_PLACEHOLDER' | translate"
              [formControl]="employeesFilters.controls.nameLike"
              class="w-full"
            />
            @if (employeesFilters.controls.nameLike.value?.length) {
              <p-inputIcon
                styleClass="left-auto right-0 dps-icon dps-icon-close cursor-pointer bg-white mr-1"
                (click)="employeesFilters.controls.nameLike.reset()"
              />
            }
          </p-iconField>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employee>
      <tr>
        <td class="w-3rem">
          <p-tableCheckbox [value]="employee" />
        </td>
        <td [pSelectableRow]="employee">{{ employee.firstName }} {{ employee.lastName }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="pt-2 text-center font-medium">
        {{ 'CREATE_COMPANY_GROUP.TOTAL_ASSIGNED_EMPLOYEES' | translate }}:
        {{ selectedEmployees().length }}
      </div>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      @if (!isLoading()) {
        <tr>
          <td class="text-center text-sm" colspan="2">
            {{ 'CREATE_COMPANY_GROUP.NO_EMPLOYEES' | translate }}
          </td>
        </tr>
      }
    </ng-template>
  </p-table>

  @if (employees$ | async; as employees) {
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="employees.totalElements"
      [showPageLinks]="!isMobileScreen()"
      (onPageChange)="employeesFilters.patchValue({ page: $event.page })"
    ></p-paginator>
  }
</main>

<footer class="flex justify-content-between align-items-center border-top-1 border-300 p-3">
  <p-button
    icon="dps-icon dps-icon-arrow_back"
    [label]="'GENERAL.RETURN_BUTTON' | translate"
    [text]="true"
    [plain]="true"
    [dpsNavigateBackButton]="defaultBackRoute"
  ></p-button>

  <p-button
    [label]="'CREATE_COMPANY_GROUP.SAVE_BUTTON' | translate"
    [disabled]="groupNameControl.invalid"
    [loading]="isCreatingGroup()"
    (onClick)="createGroup()"
  ></p-button>
</footer>
