<form
  class="flex flex-column flex-1 gap-3 p-5 sm:align-self-center w-full max-w-30rem justify-content-center"
  (ngSubmit)="resetPassword()"
>
  <img src="assets/images/logo.svg" alt="logo" class="align-self-center w-15rem mb-8" />

  <span class="text-center">{{ 'FORGOT_PASSWORD_PAGE.TITLE' | translate }}</span>

  <input
    type="text"
    pInputText
    inputId="email"
    name="email"
    autocomplete="email"
    [placeholder]="'FORGOT_PASSWORD_PAGE.EMAIL_LABEL' | translate"
    [formControl]="emailControl"
    class="p-inputtext-lg"
  />

  <p-button
    type="submit"
    styleClass="w-full"
    size="large"
    [label]="'FORGOT_PASSWORD_PAGE.SUBMIT_BUTTON' | translate"
    [disabled]="emailControl.invalid"
    [loading]="(isResettingEmail$ | async) || false"
  ></p-button>

  <p-button
    type="button"
    class="align-self-start"
    [label]="'GENERAL.RETURN_BACK' | translate"
    icon="dps-icon dps-icon-arrow_back"
    [text]="true"
    [plain]="true"
    (onClick)="navigateToLogin()"
  >
  </p-button>
</form>

<dps-legal-info-footer></dps-legal-info-footer>
